repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 21.6b0
  hooks:
    - id: black
      args: [--line-length=80]
- repo: https://github.com/pycqa/isort
  rev: 5.9.1
  hooks:
    - id: isort
      name: isort (python)
      args: [--profile=black, --line-length=80]
- repo: https://github.com/pycqa/pydocstyle
  rev: '6.1.1'
  hooks:
    - id: pydocstyle
      exclude: ^(foyer/tests/|docs/|devtools/|setup.py)
      args: [--convention=numpy]
