trigger:
  - master

pr:
  - master

schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight build for master
  branches:
    include:
    - master
  always: true

stages:
  - stage: Test
    jobs:
      - job: NoBleeding
        strategy:
          matrix:
            Python36Ubuntu:
              imageName: 'ubuntu-latest'
              python.version: 3.6
            Python37Ubuntu:
              imageName: 'ubuntu-latest'
              python.version: 3.7
            Python36macOS:
              imageName: 'macOS-latest'
              python.version: 3.6
            Python37macOS:
              imageName: 'macOS-latest'
              python.version: 3.7

        pool:
          vmImage: $(imageName)

        steps:
          - bash: echo "##vso[task.prependpath]$CONDA/bin"
            displayName: Add Conda to path

          - bash: sudo chown -R $USER $CONDA
            condition: eq( variables['Agent.OS'], 'Darwin' )
            displayName: Take ownership of conda installation

          - bash: |
              conda config --set always_yes yes --set changeps1 no
            displayName: Add relavent Channels
          - bash: |
              sed -i -E 's/python.*$/python='$(python.version)'/' environment-dev.yml
              conda env create -f environment-dev.yml
              source activate foyer-dev
              pip install -e .
            displayName: Create Conda env, Activate, Install dependencies, Install Branch
          - bash: |
              source activate foyer-dev
              python -m pytest -v --cov=foyer --cov-report=html --pyargs foyer 
            displayName: Run Tests

          - bash: |
              source activate foyer-dev
              bash <(curl -s https://codecov.io/bash) -C $(Build.SourceVersion)
            condition: and( eq( variables['Agent.OS'], 'Linux' ), eq( variables['python.version'], '3.7' ) )
            displayName: Upload coverage report to codecov.io

      - job: Windows_no_bleeding
        pool:
          vmImage: 'windows-latest'
        strategy:
          matrix:
            Python36:
              python.version: 3.6
            Python37:
              python.version: 3.7

        steps:
          - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
            displayName: Add Conda to path

          - script: |
              conda config --set always_yes yes --set changeps1 no
            displayName: Add Relevent Channels

          - script: |
              sed -i -E 's/python.*$/python='$(python.version)'/' environment-dev.yml
              conda env create -f environment-dev.yml
              call activate foyer-dev
              pip install -e .

            displayName: Create conda env, Install dependencies and Install Branch

          - script: |
              call activate foyer-dev
              python -m pytest -v --cov=foyer --pyargs foyer
            displayName: Run Tests

      - job: LinuxBleedingMbuild

        pool:
          vmImage: 'ubuntu-latest'

        steps:
          - bash: echo "##vso[task.prependpath]$CONDA/bin"
            displayName: Add Conda to path

          - bash: |
              conda config --set always_yes yes --set changeps1 no
              sed -i -E 's/python.*$/python=3.7/' environment-dev.yml
              conda env create -f environment-dev.yml
              source activate foyer-dev
            displayName: Create a new bleeding test environment

          - bash: |
              source activate foyer-dev
              git clone https://github.com/mosdef-hub/mbuild.git
              cd mbuild
              conda env update -n foyer-dev -f environment.yml
              pip install -e .
              pip uninstall foyer -y
              cd ..
              pip install -e .

            displayName: Clone mbuild, install mbuild, install foyer

          - bash: |
              source activate foyer-dev
              python -m pytest -v --cov=foyer --cov-report= --pyargs foyer
            displayName: Run Tests


  - stage: Docker
    dependsOn: Test
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'), ne(variables['Build.Reason'], 'Schedule'))
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: publishDocker
        steps:
          - task: Docker@2
            displayName: Login to docker hub
            inputs:
              command: login
              containerRegistry: mosdefDockerLogin

          - task: Docker@2
            displayName: Build and Push
            inputs:
              command: buildAndPush
              repository: mosdef/foyer
              tags: latest

          - task: Docker@2
            displayName: Logout
            inputs:
              command: logout
              containerRegistry: mosdefDockerLogin
